:root {
	/* color */
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0);

	/* dark colors */
	--background: hsl(220, 40%, 13%);
	--on-background: hsl(0, 0%, 100%);
	--primary: hsl(212, 100%, 50%);
	--on-primary: hsl(220, 59%, 20%);
	--secondary: hsl(212, 72%, 44%);
	--primary-hover: hsl(213, 84%, 49%);
	--primary-outline: hsl(212, 100%, 46%);
	--primary-outline-hover: hsl(212, 100%, 55%);
	--surface: hsl(222, 41%, 17%);
	--on-surface: hsl(222, 80%, 67%);
	--on-surface-hover: hsl(222, 86%, 69%);
	--on-surface-2: hsl(219, 65%, 21%);
	--surface-variant: hsl(223, 40%, 20%);
	--surface-variant-hover: hsl(223, 40%, 24%);
	--on-surface-variant: hsl(223, 13%, 54%);
	--surface-variant-outline: hsl(223, 48%, 31%);
	--surface-variant-outline-hover: hsl(220, 40%, 40%);

	/* PRIORITY */
	--urgent: #9f4e66;
	--on-urgent: #cd6886;
	--high: #ffc8dd;
	--medium: #cdb4db;
	--normal: #a2d2ff;

	--error: hsl(0, 100%, 71%);
	--error-alpha-10: hsla(0, 100%, 71%, 0.1);
	--outline: hsl(223, 40%, 20%);
	--surface-1: hsl(220, 40%, 17%);
	--surface-1-hover: hsl(218, 48%, 19%);
	/* --surface-1-hover: hsl(219, 40%, 21%); */
	--surface-1-outline: hsl(219, 40%, 20%);
	--surface-1-outline-hover: hsl(220, 40%, 40%);
	--alpha-80: hsla(225, 100%, 92%, 0.919);
	--alpha-70: hsla(222, 39%, 58%, 0.784);
	--alpha-60: hsla(0, 0%, 100%, 0.6);
	--alpha-50: hsla(0, 0%, 100%, 0.5);
	--alpha-10: hsla(0, 0%, 100%, 0.1);
	--alpha-5: hsla(0, 0%, 100%, 0.05);
	--overlay-bg: hsla(220, 40%, 7%, 0.5);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
svg,
img,
span,
input,
button {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	height: auto;
}
input,
button {
	background: none;
	border: none;
	font: inherit;
}

input {
	width: 100%;
}

button {
	cursor: pointer;
}

html {
	-webkit-tap-highlight-color: transparent; /*for mobile browser*/
	font-size: 62.5%; /* 1rem = 10px*/
}

body {
	background-color: var(--background);
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
}

/*APP*/

.mainContainer {
	max-width: 1000px;
	margin: auto;
	background-color: var(--background);
}

/*Header*/
.headerContent {
	background-color: inherit;
	padding-block-start: 20px;
	position: sticky;
	top: -2px;
	overflow: hidden;
	z-index: 10;
}

/*Search*/

.search {
	width: 28%;
	margin: auto;
	position: relative;
}
.searchInput {
	border: var(--surface-variant-outline) 1px solid;
	height: 3.5rem;
	border-radius: 2rem;
	outline: none;
	font-size: 2rem;
	letter-spacing: 0.5px;
	font-weight: lighter;
	color: var(--on-background);
	padding-inline: 4rem 1.3rem;
}

.searchInput:focus {
	border-color: var(--primary-outline);
}

.searchIcon {
	position: absolute;
	left: 12px;
	top: 9px;
}

.searchIcon svg {
	fill: var(--alpha-80);
}

/* For WebKit browsers (Chrome, Safari) */
input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
}

/* For Internet Explorer and Edge */
input[type='search']::-ms-clear {
	display: none;
}

/*TAGS*/
.tags {
	padding-block: 40px 20px;
}
.tagList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
}
.tagList:not(:last-child) {
	padding-block-end: 15px;
}
.tagName {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0.7px;
	padding-right: 5px;
	color: var(--primary);
}

.btnDiv {
	color: var(--alpha-80);

	font-size: 1.7rem;
	outline: 1px var(--surface-variant-outline) solid;
	padding: 5px 12px;
	border-radius: 100px;
	text-transform: lowercase;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	width: fit-content;
	height: fit-content;
}

.btnDiv:hover {
	background-color: var(--primary-outline-hover);
	color: var(--white);
}
.btnActiveDiv {
	background-color: var(--primary-outline-hover);
}

/*Task*/
.taskSection {
	padding-block: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.taskName {
	position: relative;
	display: flex;
	gap: 5px;
	color: var(--on-surface);
}
.taskTitle {
	font-size: 1.9rem;
}
.boxOverFlow {
	max-width: 180px;
	white-space: nowrap; /* Prevent text from wrapping */
	overflow-x: scroll;
	scrollbar-width: none;
}

.taskTitle::-webkit-scrollbar {
	display: none;
}
.taskDate {
	font-size: 1.6rem;
	color: var(--alpha-70);
	gap: 8px;
}

.taskBox {
	width: 500px;
	min-width: fit-content;
	background-color: var(--surface-1);
	outline: 1px var(--surface-1-outline);
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two equal columns */
	grid-template-rows: 1fr auto 1fr; /* Two equal rows */
	padding: 15px 20px;
	border-radius: 10px;
	gap: 1rem; /* No gaps needed */
	cursor: pointer;
}
.activeTask {
	outline: 1px var(--surface-1-outline-hover) solid;
}

.taskBox:hover {
	outline: 1px var(--surface-1-outline-hover) solid;
	filter: brightness(1.2); /* Add this line to lighten the background */
}
.taskTag {
	display: flex;
	gap: 5px;
	overflow-y: scroll;
	max-width: 210px;
	scrollbar-width: none;
	padding-block: 1px;
}

.taskTag::-webkit-scrollbar {
	display: none;
}
.top-left {
	grid-area: 1 / 1; /* Row 1, Column 1 */
}

.top-right {
	grid-area: 1 / 2; /* Row 1, Column 2 */
	justify-self: end; /* Align to the right */
}

.bottom-left {
	grid-area: 3 / 1; /* Row 2, Column 1 */
	align-self: end; /* Align to the bottom */
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--surface-variant);
	border-radius: var(--radius-pill);
}

.taskDescription {
	overflow: scroll;
	color: #8db4cf;
	letter-spacing: 0.3px;
	line-height: 1.2;
	max-height: 110px;
	font-size: 1.7rem;
	grid-column: 1 / span 2;
	padding-bottom: 0.8rem;
	scrollbar-width: none;
}

.taskDescription::-webkit-scrollbar {
	display: none;
}
.bottom-right {
	grid-area: 3 / 2; /* Row 2, Column 2 */
	justify-self: end; /* Align to the right */
	align-self: end; /* Align to the bottom */
}

.btnPriority {
	background-color: var(--surface-variant);
	padding: 0px 5px;
	margin-block-start: 3px;
	border-radius: 1000px;
	color: #ffffff;
	letter-spacing: 0.8px;
	align-self: start;

	font-size: 1.5rem;
	color: var(--on-urgent);
	outline: 1px var(--urgent) solid;
}

.btnCompleted {
	background-color: #0582ca;

	color: #fff6f6;
}
.flex {
	display: flex;
	justify-content: end;
}
.btn {
	font-size: 1.7rem;
	padding: 8px 13px;
	border-radius: 100px;
	outline: none;
}
.btnCompleted:hover,
.btnCompleted:focus {
	background-color: var(--primary-hover);
	/* outline: 1px var(--primary) solid; */
}

.btnDelete {
	background-color: hsl(342, 72%, 48%);
	color: #dee9f7;
}

.taskDate {
	display: flex;
}

.padding0 {
	padding: 0;
	height: auto;
}
.editBtn {
	position: relative;
	top: -8px;
}

.editBtn svg circle,
.addBtn svg circle {
	stroke: var(--surface-variant-outline);
}
.editBtn svg path,
.addBtn svg path {
	stroke: #324c9f;
}

.completed {
	background-color: #282c5a;
}

/*CREATE FORM TASK*/

.createFormBody {
}
.bg {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 50;
	height: 100vh;
	width: 100%;
	min-height: fit-content;
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(3px);
}

.mainContainer:has(.createFormBody) {
	height: 100vh;
	overflow: hidden;
}
.mainContainer:has(.createFormBody) > * {
	padding-inline-end: 8px;
}
.formContainer {
	height: 79%;
	max-height: fit-content;
	width: 30%;
	max-width: fit-content;

	position: fixed;
	z-index: 20;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	background-color: var(--surface);
	outline: var(--outline) 1px solid;
	border-radius: 20px;
	display: flex;
	color: var(--on-background);
	justify-content: center;
	align-items: center;
	z-index: 50;
	outline: 1px solid rgb(50, 96, 137);
}
.form {
	width: 100%;

	height: 100%;
	max-height: fit-content;
	overflow-y: scroll;
	scrollbar-width: none;
}

.formItem {
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: relative;
}
.formItem:not(:last-child) {
	margin-block-end: 18px;
}
.formItem label {
	font-size: 1.6rem;
	justify-self: self-end;
}
.formItem input {
	color: #a2d2ff;
	font-size: 1.7rem;
	letter-spacing: 1px;
	padding: 6px 15px;
	background-color: #222f5af3;
	min-width: 160px;
	border-radius: 100px;
	/* border: var(--primary-outline) 1px solid; */
}
.formItem input:focus {
	outline: 1px var(--primary-outline) solid;
	outline-offset: -1px;
}
.formItem input[type='date'] {
	letter-spacing: 0px;
	width: 160px;
	justify-self: center;
	border: none;
	/* border: var(--primary-outline) 1px solid; */
}

.priorityInput {
	width: 100%;
	color: rgb(62, 143, 230);
	background-color: #222f5af3;
	border-radius: 100px;
	letter-spacing: 1px;
	font-size: 1.7rem;
	font-style: inherit;
	padding: 7px 15px;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

.customSelect::after {
	content: '▼'; /* Unicode character for dropdown arrow */
	position: absolute;
	right: 25px;
	top: 60%;
	transform: translateY(-50%);
	/* pointer-events: none; So the icon doesn't block clicks */
	font-size: 2rem;
	color: #6965b4; /* Change this to match your design */
}

.categoryContainer {
	width: 160px;
	position: relative;
}
#categoryInput {
	width: 100%;
}
#category {
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 5;
	height: fit-content;
	width: 100%;
	outline: 1px var(--primary-outline) solid;
	outline-offset: -1px;
	border-radius: 10px;
}
/* #categoryInput:focus + #category {
	display: block;
} */

.categoryList {
	color: #a2d2ff;
	text-align: center;
	padding: 7px 10px;
	font-size: 1.8rem;
	width: 100%;
	background-color: #222f5a;
	cursor: pointer;
}
.categoryList:first-child {
	border-start-start-radius: 10px;
	border-start-end-radius: 10px;
}
.categoryList:last-child {
	border-end-start-radius: 10px;
	border-end-end-radius: 10px;
}
.categoryList:hover {
	background-color: rgb(30, 67, 134);
}

.customSelect {
	position: relative;
	width: 160px;
}

#description {
	padding: 15px 15px;
	font-size: 1.8rem;
	color: #a2d2ff;
	appearance: none;
	background-color: rgba(34, 47, 90, 0.827);
	border: none;
	border-radius: 10px;
}

#description:focus {
	outline: none;
	outline: 1px var(--primary-outline) solid;
	outline-offset: -1px;
}

/* <div class="formItem">
<label for="categoryInput">Category</label>
<div class="categoryContainer">
	<input type="text" id="categoryInput" />
	<ul id="category">
		<li class="categoryList" aria-valuetext="Option 1">
			Option 1
		</li>
		<li class="categoryList" aria-valuetext="Option 2">
			Option 1
		</li>
		<li class="categoryList" aria-valuetext="Option 3">
			Option 1
		</li>
		<li class="categoryList" aria-valuetext="Other">
			Option 1
		</li>
	</ul>
</div>
<p class="tagItem">Project</p>
</div> */
.tagItem {
	align-self: center;
	background-color: #9f4e66;
	border-radius: 50px;
	padding: 0px 7px;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 1.4rem;
}

.categoryTagContainer {
	position: absolute;
	top: 50%;
	left: 165px;
	display: flex;
	gap: 5px;
	overflow-x: scroll;
	scrollbar-width: none;
	width: calc(100% - 160px);
}

.tagItem button {
	font-size: 2rem;
	color: #ffffff;
}

.btnSpaced {
	display: flex;
	justify-content: space-between;
	padding-block-start: 25px;
	padding-inline: 10px;
}
/* tying */

.inputError {
	display: inline;
	padding-inline-start: 10px;
	color: #d72f61;
}
